<!DOCTYPE html>
<head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 100%; }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>

   <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBawPdpCizu3FTgRtO8Rxf9ZdKcg-39Fxo&libraries=places&callback=initMap">
    </script>

     <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
     <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

     <script type="text/javascript" src="/javascripts/uuid.js"></script>
     <script type="text/javascript" src="/javascripts/map.js"></script>
      
      <link href="/stylesheets/chat.css" rel="stylesheet" />
</head>
<body>
<div id="map" style=""></div>

<style>
    .borderChat{
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .boxShadowChat{
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    }
</style>

<script>
    //35px
    function mostrarUsuarios(id){
       var  dato =  document.getElementById(id).getAttribute("data-abierto");
       if(dato == "0"){
           document.getElementById(id).setAttribute("data-abierto","1");
           $("#"+id).removeClass("glyphicon-menu-down");
           $("#"+id).addClass("glyphicon-menu-up");
           document.getElementById("usuariosLogeados").style.maxHeight = "35px";
       }else{
           document.getElementById(id).setAttribute("data-abierto","0");
           $("#"+id).removeClass("glyphicon-menu-up");
           $("#"+id).addClass("glyphicon-menu-down");
           document.getElementById("usuariosLogeados").style.maxHeight = "150px";
           
       }
       console.log(dato)
    }
</script>
<div id="contenidoChat" style="position: absolute;bottom: 0px;">
    <div class="borderChat boxShadowChat" id="usuariosLogeados" style="width: 200px;height: 230px;border:0px solid #ccc;position:relative;bottom:  0px;z-index: 9;background: #fff;max-height: 230px;margin-left: 10px;-webkit-transition: max-height 0.8s;-moz-transition: max-height 0.8s;transition: max-height 0.8s;float:left;margin-left:20px">
        <div class="borderChat" style="border: 0px solid #ccc;height: 35px;background-color: rgb(51, 122, 183);">
            <span style="padding-left: 25px;padding-top: 9px;position: absolute;color: #FFF;">Usuarios</span>
            <span id="SalirChatUsuarios" onclick="salirSistema();" data-abierto="0" class="glyphicon glyphicon-log-out" style="color: #fff;position: absolute;right: 0px;padding-top: 10px;padding-right: 10px;cursor: pointer;"></span>
        <span class="glyphicon glyphicon-user" style="font-size: 15px;padding-top: 10px;position: absolute;padding-left: 5px;color: #FFF;"></span>
        </div>
        <div id="usuariosLinea" style="padding-top: 5px;padding-left: 5px;overflow-y:  scroll;max-height:  230px;height: 195px;">
    </div>
    </div>

</div>
</body>
</html>