<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>

<a href="/iniciandoMapa"> Aprendiendo Google Maps</a>
<div style="clear: both;height: 10px"></div>
<a href="/geolocalizacion"> Geolocalizacion</a>
<div style="clear: both;height: 10px"></div>
<a href="/busquedas"> Busquedas</a>
<div style="clear: both;height: 10px"></div>
<a href="/trazoRutas"> Trazar rutas</a>
<div style="clear: both;height: 10px"></div>
<a href="/trazoRutas2"> Trazar rutas  con opciones</a>
<div style="clear: both;height: 10px"></div>
<a href="/panel"> Panel de busqueda</a>
<div style="clear: both;height: 10px"></div>
<a href="/vistaPanoramica"> Vista panoramica</a>
<div style="clear: both;height: 10px"></div>
<a href="/lugaresMarcados">Lugares marcados</a>
</body>
</html>
